:root {
  --vp-c-brand-1: #2c9678;
  --vp-home-hero-name-color: #2c9678;
  --vp-button-brand-bg: #2c9678;
  --vp-button-brand-hover-bg: #2c9678cc;
  --vp-button-brand-active-bg: #248067;
  --vp-badge-tip-bg: #eeeeee;
}

a {
  /* 不包含 VPButton 的样式修改 */
  &:not(.VPButton) {
    color: black !important;

    &:hover {
      color: #2c9678 !important;
    }
  }
}

.dark {
  a {
    color: white !important;
  }

  &:hover {
    color: #2c9678 !important;
  }
}

.VPDocAsideOutline {
  .outline-title {
    font-size: 16px !important;
    font-family: "LxgwWenKai" !important;
    font-weight: 500 !important;
  }
}
