@font-face {
  font-family: "LxgwWenKai";
  src: url("../fonts/LXGWWenKai-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LxgwWenKai";
  src: url("../fonts/LXGWWenKai-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LxgwWenKai";
  src: url("../fonts/LXGWWenKai-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}