@font-face {
  font-family: "LxgwWenKai";
  src: url("./fonts/LXGWWenKai-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LxgwWenKai";
  src: url("./fonts/LXGWWenKai-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LxgwWenKai";
  src: url("./fonts/LXGWWenKai-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "LxgwWenKai";
  src: url("./fonts/LXGWWenKai-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "LxgwWenKai";
  src: url("./fonts/LXGWWenKai-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
